/* start var */
:root {
	--maine-color: #00c7fc;
	--secnd-color: #8d8d8d;
}
/* end var */

/* start global style */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: montserrat;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
/* small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* larg */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* end global style */

/* start component */
.info {
	text-align: center;
	padding: 100px 0;
	max-width: 700px;
}
.info-h2 {
	font-size: 28px;
	margin-bottom: 60px;
	position: relative;
}
.info-h2::before {
	content: "";
	position: absolute;
	transform: translateX(-50%);
	width: 200px;
	height: 2px;
	background-color: var(--maine-color);
	bottom: -30px;
	left: 50%;
}
.info-h2::after {
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	border: 2px solid var(--maine-color);
	border-radius: 30%;
	bottom: -38px;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	background-color: #f4f4f4;
}
.info-p {
	color: var(--secnd-color);
	line-height: 1.6;
	margin-top: 40px;
	padding: 0px 15px;
}
/* end component */

/* start header  */
.header {
	min-height: 65px;
}
.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.header .container .logo img {
	height: 65px;
}
.header .container .link {
	position: relative;
}
.header .container .link .menu {
	display: none;
	justify-content: flex-end;
	flex: 1;
	flex-direction: column;
	align-items: end;
	cursor: pointer;
}
.header .container .link .menu span:first-child {
	width: 30px;
	height: 2px;
	margin-bottom: 5px;
	background-color: var(--secnd-color);
}
.header .container .link .menu span:nth-child(2) {
	width: 30px;
	height: 2px;
	margin-bottom: 5px;
	background-color: var(--secnd-color);
	width: 50%;
	transition: 0.2s;
}
.header .container .link .menu span:last-child {
	width: 30px;
	height: 2px;
	background-color: var(--secnd-color);
}
.header .container .link .menu:hover span:nth-child(2) {
	width: 100%;
}
.header .container .link ul {
	display: flex;
	justify-content: flex-end;
	flex: 1;
}
.header .container .link ul li:not(:last-child) {
	padding-right: 20px;
}
.header .container .link ul li a {
	font-size: 16px;
	color: var(--secnd-color);
	text-transform: uppercase;
	transition: 0.2s;
}
.header .container .link ul li a:hover,
.header .container .link ul li a.active {
	color: var(--maine-color);
}
@media (max-width: 767px) {
	.header .container .link ul {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 42px;
		right: 0;
		z-index: 2;
		background-color: rgb(0 0 0 / 30%);
		padding: 15px;
	}
	.header .container .link .menu {
		display: flex;
	}
	.header .container .link:hover ul {
		display: flex;
	}
	.header .container .link ul li {
		padding: 10px;
	}
}
/* end header */

/* start landeng */
.landeng {
	background-image: url(../image/landeng.jpg);
	background-size: cover;
	height: calc(100vh - 69px);
	position: relative;
}
.landeng .text-landeng {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	z-index: 2;
	text-transform: uppercase;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.landeng .text-landeng h1 {
	font-size: 35px;
}
.landeng .text-landeng p {
	font-size: 14px;
}
.landeng .text-landeng button {
	width: 200px;
	height: 50px;
	border-radius: 8px;
	cursor: pointer;
}
.landeng .text-landeng button:first-of-type {
	background-color: transparent;
	border: 1px solid white;
	color: white;
	text-transform: uppercase;
	margin-right: 10px;
}
.landeng .text-landeng button:last-of-type {
	background-color: var(--maine-color);
	color: white;
	border: 1px solid var(--maine-color);
	text-transform: uppercase;
	margin-left: 10px;
}
@media (max-width: 767px) {
	.landeng .text-landeng button:first-of-type {
		margin: 0 0 15px 0;
	}
	.landeng .text-landeng button:last-of-type {
		margin: 0;
	}
}
.fillter {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgb(0 0 0 / 82%);
}
/* end landeng */

/* start history */
.history {
	background-color: #f4f4f4;
}
.history .big-box {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 200px));
	grid-gap: 20px;
	padding-bottom: 100px;
	justify-content: center;
}
.history .big-box .small-box {
	text-align: center;
	background-color: white;
	padding: 20px;
}
.history .big-box .small-box i {
	margin: 20px 0 45px;
	position: relative;
}
.history .big-box .small-box h4 {
	position: relative;
}
.history .big-box .small-box h4::before {
	content: "";
	position: absolute;
	transform: translateX(-50%);
	width: 60px;
	height: 2px;
	background-color: var(--maine-color);
	bottom: 38px;
	left: 50%;
}
.history .big-box .small-box h4 {
	margin-bottom: 55px;
	text-transform: uppercase;
}
.history .big-box .small-box p {
	line-height: 1.5;
	margin-bottom: 20px;
	color: var(--secnd-color);
	font-size: 14px;
}
/* end history */

/* start clients */
.clients .info .info-h2::after {
	background-color: white;
}
.clients .info .span {
	margin-top: 10px;
	font-size: 14px;
	color: #b8b8b8;
	font-style: italic;
	font-family: ui-serif;
	letter-spacing: 1px;
}
.clients .logo {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 23%));
	padding-bottom: 100px;
	grid-row-gap: 100px;
	grid-column-gap: 2%;
	justify-content: center;
	justify-items: center;
}
.clients .logo img {
	width: 150px;
}
@media (max-width: 870px) {
	.clients .logo {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 48%));
		padding-bottom: 100px;
		grid-row-gap: 100px;
		grid-column-gap: 2%;
		justify-content: center;
		justify-items: center;
	}
}
/* end clients */

/* start form */
.form {
	background-color: black;
	color: white;
	padding: 100px 0;
}
.form .container {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 10px;
}
.form .container .about {
	background-color: black;
	width: calc(50% - 5px);
	padding: 60px 40px;
	text-align: center;
	border: 1px solid var(--secnd-color);
	margin-right: 5px;
}
.form .container .h2::before {
	content: "";
	width: 60px;
	height: 2px;
	bottom: -30px;
	position: absolute;
	transform: translateX(-50%);
	background-color: var(--maine-color);
	left: 50%;
}
.form .container form {
	background-color: black;
	width: calc(50% - 5px);
	padding: 60px 40px;
	margin-left: 5px;
	border: 1px solid var(--secnd-color);
}
.form .container .h2 {
	text-align: center;
	position: relative;
	margin-bottom: 60px;
}
.form .container form label {
	margin-top: 25px;
	display: inline-block;
}
.form .container form input {
	height: 30px;
	width: 100%;
	background-color: transparent;
	border: 1px solid black;
	border-bottom: 1px solid var(--secnd-color);
	outline: none;
	color: var(--secnd-color);
}
.form .container form textarea {
	width: 100%;
	height: 120px;
	background-color: black;
	outline: none;
	color: white;
	border: 1px solid black;
	border-bottom: 1px solid var(--secnd-color);
}
@media (max-width: 991px) {
	.form .container .about,
	.form .container form {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}
}
/* end form */

/* start footer */
.footer {
	padding: 50px 0;
	background-color: var(--maine-color);
}
.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}
.footer .container .flex-right {
	font-size: 20px;
}
.footer .container .flex-left i {
	padding-left: 10px;
	font-size: 20px;
	cursor: pointer;
}
@media (max-width: 769px) {
	.footer .container {
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer .container .flex-right {
		margin-bottom: 10px;
	}
}
/* end footer */
